# MacOS
.DS_Store

# Generated website directory
_site/

# Sass cache
.sass-cache/

# Obsidian config
*.obsidian/

# TinaCMS
node_modules

# generate files
public
resources

# note metadata
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
